
  @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Merriweather&family=Roboto&family=Ubuntu:ital@1&display=swap');


*{
    margin: 0;
    padding: 0;
}
.body{
    /* background-color: aqua; */
    overflow: hidden;
}
.container{
    
overflow: hidden;
/* position: relative; */
}
#scorebox{
  display: inline-block;
  
}

#score{
  border: 2px solid black;
  /* background-color: aqua; */

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 30px;
  
  position: relative;
  z-index: 1;
  height: 27px;
    width: 178px;
    padding: 5px 3px;
    margin: 18px 1054px;
    padding-left: 3px;
  background: url('score1.jpg');
  color: white;
  font-family: 'Baloo Bhai 2', cursive;
  opacity: 0.8;

}
.myScore{
  display: inline-block;
  display: none;
  
}

.innermyScore{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 30px;
  /* position: relative; */
  /* z-index: 9999; */
  height: 27px;
  width: 339px;
  padding: 5px 3px;
  /* margin: 306px 62px; */
  top: 20px;
  left: 20px;
  padding-left: 3px;
  background: transparent;
  color: white;
  font-family: 'Baloo Bhai 2', cursive;
  opacity: 0.8;
  font-size: xx-large;
  font-weight: 600;
  position: absolute;
  top: 294px;
  left: 465px;

}
.high{
  display: inline-block;
  display: none;

}

.innerHigh{
  /* border: 2px solid black; */
  /* background-color: aqua; */

  display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
    /* position: relative; */
    /* z-index: 9999; */
    height: 27px;
    width: 395px;
    padding: 5px 3px;
    /* margin: 306px 62px; */
    top: 20px;
    left: 20px;
    padding-left: 3px;
    background: transparent;
    color: white;
    font-family: 'Baloo Bhai 2', cursive;
    opacity: 0.8;
    font-size: xx-large;
    font-weight: 600;
    position: absolute;
    top: 343px;
    left: 434px;
}


#vid{
    /* border: 2px solid red; */
    background-size: 100vw 100vh;
    width: 100%;
    height: 100%;
    overflow:hidden;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    /* display: none; */
}
.mainObj{
    background: url(bg99.gif);
    background-size: cover;

    /* border: 2px solid red; */
    position: absolute;
    top: 150px;
    left: 700px;
    height: 140px;
    width: 140px;

}
.myscore{

}
.obs1{
    background: url(flame.gif);
    background-size: contain;


    /* border: 2px solid red; */
    position: absolute;
    top: 400px;
    left: 300px;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    display: none;
    border: 0.5px solid rgb(83, 55, 60);
}

.fireball{
  display: inline-block;
  animation: fireball 5s linear, rotatefireball 6s linear infinite;
}

@keyframes fireball{
  0%{
    top: 313px;
    left: 1280px;
    height: 70px;
    width: 70px;
  }
  100%{
    top: 313px;
    left: -55px;
    height: 70px;
    width: 70px;
  }
}

@keyframes rotatefireball{
  0%{
    transform: rotate(3600deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
.obs2{
    background: url(ob3.png);
    background-size: cover;

    /* border: 2px solid red; */
    position: absolute;
    top: 100px;
    left: 500px;
    height: 70px;
    width: 80px;
    border-radius: 100px;
    /* border-radius: 20px; */
    /* border-bottom-left-radius: 75px; */
    /* border-bottom-right-radius: 75px; */
    display: none;
    /* animation: pig 7s linear, rotation 0.5s linear infinite; */

}



.piganimation{
    display: inline-block;
    animation: pig 7s linear, rotation 0.5s linear infinite;
}


@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes pig{
    0% {
        top: 5px;
        left: 1300px;
      }
      10% {
        top: 10px;
        left: 1219px;
      }
      20% {
        top: 193px;
        left: 1073px;
      }
      30% {
        top: 529px;
        left: 971px;
      }
      40% {
        top: 233px;
        left: 770px;
      }
      50% {
        top: 84px;
        left: 581px;
      }
      60% {
        top: 211px;
        left: 432px;
      }
      70% {
        top: 354px;
        left: 329px;
      }
      80% {
        top: 522px;
        left: 216px;
      }
      90% {
        top: 322px;
        left: -6px;
      }
      100% {
        top: 340px;
        left: -50px;
      }
}


.obs10{
    background: url(ob1.png);
    background-size: cover;

    /* border: 2px solid red; */
    position: absolute;
    top: 200px;
    left: 500px;
    height: 75px;
    width: 75px;
    display: none;
    transform: scaleX(-1);
    rotate: 30deg;
    

}

.birdanimation{
  display: inline-block;
  animation: yellow 2s linear;
}


@keyframes yellow{
0%{
    top: 480px;
    left: 1200px;
}
100%{
    top: -74px;
    left: 323px;
}
}
.obs11{
    background: url(cloud.gif);
    background-size: cover;

    /* border: 2px solid red; */
    position: absolute;
    top: 10px;
    left: 540px;
    height: 200px;
    width: 200px;
    border-radius: 300px;
    /* border-color: transparent; */
    display: none;

}
.obs12{
  background: url(cloud.gif);
  background-size: cover;
  /* border: 2px solid red; */
  position: absolute;
  top: 58px;
  left: 180px;
  height: 200px;
  width: 200px;
  border-radius: 300px;
  /* border-color: transparent; */
  display: none;

}
.obs13{
  background: url(cloud.gif);
  background-size: cover;
  /* border: 2px solid red; */
  position: absolute;
  
  top: 58px;
  left: 910px;

  height: 200px;
  width: 200px;
  border-radius: 300px;
  /* border-color: transparent; */
  display: none;

}
.cloud1{
  display: inline-block;
  animation: cloud1 3s linear;
}

@keyframes cloud1 {
  0%{
    top: 10px;
    left: 540px;
  }
  100%{
    top: 58px;
   left: 180px;
  }
}
.cloud2{
  display: inline-block;
  animation: cloud2 3s linear;
}

@keyframes cloud2 {
  0%{
    top: 10px;
    left: 540px;
  }
  100%{
    top: 58px;
  left: 910px;
  }
}

